body {
	padding-top: 30px; 
}
.arrow{
	text-align: center;
}
.riverName{
	text-align: center;
}
.cfs{
	text-align: center;
}
.feet{
	text-align: center;
}
.highlight{
	background-color: #D3D3D3;
}
#content{
	
}
